Package: mcats
Version: 1.0.__datestamp__
Architecture: all
Maintainer: Paul Weaver <paul@newweaver.com>
Depends: python | python3
Section: web
Priority: optional
Installed-Size: 1000
Description: Package with a couple of multicast test tools
 mcsend - sends multicast traffic. mcrcv, listens for multicast traffic
